<nav class="navbar navbar-light bg-info">
  <a class="navbar-brand">
    {{#link-to 'index'}}
      PhanLinks
    {{/link-to}}
  </a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      {{#link-to 'about'}}
        About
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'become-provider'}}
        Become A Provider
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'how-it-works'}}
        How It Works
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'registration'}}
        Registration
      {{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to 'contact'}}
        Contact
      {{/link-to}}
    </li>
  </ul>
</nav>
{{outlet}}
