<nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #9ad3de;">
  <a class="navbar-brand">
    {{#link-to 'index'}}
      PhanLinks
    {{/link-to}}
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        {{#link-to 'about' class="nav-link"}}
          About
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'become-provider' class="nav-link"}}
          Become A Provider
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'how-it-works' class="nav-link"}}
          How It Works
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'registration' class="nav-link"}}
          Registration
        {{/link-to}}
      </li>
      <li class="nav-item">
        {{#link-to 'contact' class="nav-link"}}
          Contact
        {{/link-to}}
      </li>
    </ul>
  </div>
</nav>

{{outlet}}

<footer>
  <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span>
  <span class="glyphicon-class">PhanLinks, Inc.</span>
</footer>
