<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="header-custom">Benefits Of Becoming A Provider</h2>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>Start working whenever you want and wherever you want.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>Your weekly earnings will be directly deposited to your account.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>Your professional services will be rated by the customers.
          This will help you earn more.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm-4">
      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <h4 class="card-title">Convenience</h4>
          <p class="card-text">Start working whenever you want and wherever you want.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <h4 class="card-title">Instant Earnings</h4>
          <p class="card-text">Your weekly earnings will be directly deposited to your account.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 20rem;">
        <div class="card-block">
          <h4 class="card-title">Easy Bonuses</h4>
          <p class="card-text">Your professional services will be rated by the customers.
          This will help you earn more.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="text-center">
      {{#link-to 'registration' class="button"}}
        Click here to register as a provider
      {{/link-to}}
    </div>
  </div>
</div>
