<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Benefits Of Becomimg A Provider</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>Start working whenever you want and wherever you want.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>Your weekly earnings will be directly deposited to your account.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <p>Your professional services will be rated by the customers.
          This will help you earn more.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      To register as a provider{{#link-to 'registration' class="button"}}
        click here
      {{/link-to}}
    </div>
  </div>
</div>
