<div class="jumbo">
  <h2>Benefits Of Becomimg A Provider</h2>
  <p>
    Start working whenever you want and wherever you want.
  </p>
  <p>
    Your weekly earnings will be directly deposited to your bank.
  </p>
  <p>
    Your professional service will be rated by your customers.
    This will help you earn more.
  </p>
  To register as a provider{{#link-to 'registration' class="button"}}
    click here
  {{/link-to}}
</div>
