<div class="jumbo">
  <h2>Contact Info</h2>
  <p>
    PhanLinks, Inc.
    <address>
      14221 North Euclid Street, Suite 200
      Garden Grove, CA 92843
    </address>
    Telephone: <a href="tel:886.760.2966">+1 886 760 2966</a><br>
    Fax: <a href="fax:866.760.2966">+1 886 760 2966</a><br>
    Email: <a href="mailto:info@PhanLinks.com">info@PhanLinks.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>
