<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>How It Works</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card card-outline-primary text-xs-center">
        <img src="..." alt="Card image">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Enter your provider ID to activate your account as a provider.</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-outline-primary text-xs-center">
        <img src="..." alt="Card image">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Tap 'Online' when you are ready for work.</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-outline-primary text-xs-center">
        <img src="..." alt="Card image">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Tap 'Countdown' to accept the service request.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      {{#link-to 'become-provider' class="button"}}
        Become A Provider
      {{/link-to}}
    </div>
  </div>
</div>
