<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>How It Works</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <img src="assets/images/1.png" alt="First Slide" height="200" width="100">
          <p>Enter your provider ID to activate your account as a provider.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <img src="assets/images/2.png" alt="Second Slide" height="200" width="100">
          <p>Tap 'Online' when you are ready for work.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-body">
          <img src="assets/images/3.png" alt="Third Slide" height="200" width="100">
          <p>Tap 'Countdown' to accept the service request.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      {{#link-to 'become-provider' class="button"}}
        Become A Provider
      {{/link-to}}
    </div>
  </div>
</div>
