<div class="jumbo">
  <h2>How It Works</h2>
  <p>
    Enter your provider ID to activate your account as a provider
  </p>
  <p>
    Tap 'Online' when you are ready for work
  </p>
  <p>
    Tap 'Countdown' to accept the service request
  </p>
  {{#link-to 'become-provider' class="button"}}
    Become A Provider
  {{/link-to}}
</div>
